@media (max-width : 1455px) {

  .header__list {
    padding-right: 70px;
    gap: 28px;
  }

  .container-hero {
    padding-left: 77px;
    padding-top: 160px;
    height: 668px;
  }

  .hero__title .hero__link {
    margin-bottom: 16px;
    font-size: 60px;
    line-height: 73px;
  }

  .hero__text .hero__descr {
    margin-bottom: 60px;
    width: 660px;
    font-size: 20px;
    line-height: 24px;
  }

  .about__more-img-btm {
    margin-right: 25px;
  }

  .about__more-img-top {
    margin-right: 25px;
  }

  .about__more {
    padding-left: 30px;
    padding-right: 30px;
  }

  .about__subject {
    font-size: 2vw
  }

  .about__subcat {
    padding: 50px 10px;
  }

  .about__text {
    font-size: 1vw;
  }

  .about__more-img-top {
    width: 100px;
  }

  .about__more-img-btm {
    width: 100px;
  }

  .about__more-inner .about__descr {
    line-height: 22px;
    font-size: 1vw
  }

  .how__paragraph {
    margin-right: 15px;
  }

  .footer__info {
    display: none;
  }

  .footer__nav {
    margin: 0;
    width: 45%;
  }

  .footer__application {
    margin: 0;
    width: 541px;
  }

  .footer__form-info {
    width: 100%;
  }

  .footer__form-message {
    width: 100%;
  }
}

@media (max-width : 1024px) {
  .container {
    padding: 0 50px;
  }

  .header__nav {
    display: none;
  }

  .header__logo-wrap {
    padding: 26px 0;
  }

  .header__logo {
    height: 48px;
  }

  .header__img {
    width: 150px;
    height: 48px;
  }

  .burger {
    display: block;
  }

  .header {
    margin-bottom: 39px;
  }

  .hero {
    margin-bottom: 37px;
  }

  .about {
    margin-bottom: 81px;
  }

  .about__text-top {
    margin-bottom: 59px;
  }

  .about__bottom {
    flex-wrap: wrap;
  }

  .about__wrapper {
    margin: 0;
    margin-bottom: 32px;
    width: 924px;
    height: 640px;
  }

  .about__wrap {
    max-width: 455px;
  }

  .about__subcat {
    padding: 50px 45px;
    height: 195px;
  }

  .about__text {
    font-size: 16px;
  }

  .about-img {
    width: 100%;
    height: 100%;
    background-size: cover;
  }

  .about__subject {
    margin-bottom: 16px;
    line-height: 20px;
  }

  .about__more {
    padding: 0;
    align-items: start;
    padding-bottom: 10px;
    padding-right: 77px;
    padding-left: 77px;
    padding-top: 65px;
  }

  .about__more-inner .about__descr {
    line-height: 32px;
    font-size: 16px;
  }

  .about__right {
    width: 100%;
  }

  .about__subject {
    font-size: 24px;
  }

  .about__more-img-btm {
    margin-right: 42px;
    width: 190px;
  }

  .about__more-img-top {
    margin-right: 42px;
    width: 190px;
  }


  .how__img {
    background: url('../images/png/1024/Rectangle\ 18.png') right no-repeat;
    background-size: cover;
  }
}

/*

@media (max-width : 1439px) {

  .container {
    width: 1100px;
    padding: 0;
    margin: 0 auto;
  }

  .header__nav {
    display: none;
  }

  .burger {
    display: block;
  }

  .how__img {
    width: 49.15%;
    height: 665px;
    background-size: cover;
  }

  .about__more {
    width: 1098px;
  }

  .about__text {
    width: 497px;
    font-size: 16px;
    line-height: 32px;
  }

  .how__paragraph {
    padding-right: 10px;
  }

  .accordion__subtitle {
    font-size: 20px;
    text-align: left;
  }

  .accordion__subtitle-inner {
    width: 850px;
  }

  .footer__application {
    margin-right: 70px;
  }

}

@media (max-width : 1199px) {

  .container {
    width: 924px;
    padding: 0;
    margin: 0 auto;
  }

  .container-header {
    height: 100px;
  }

  .header__nav {
    display: none;
  }

  .header__logo {
    margin: auto 0;
    width: 150px;
    height: 48px;
  }

  .header {
    margin-bottom: 39px;
  }

  .header__logo-wrap {
    padding: 26px 0;
  }

  .header__img {
    width: 150px;
    height: 48px;
  }

  .container-hero {
    padding-top: 160px;
    padding-left: 75px;
    height: 669px;
  }

  .hero {
    margin-bottom: 32px;
  }

  .hero__title .hero__link {
    font-size: 60px;
    line-height: 73px;
    margin-bottom: 16px;
  }

  .hero__text .hero__descr {
    width: 658px;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 60px;
  }

  .about {
    margin-bottom: 81px;
  }

  .about__text-top {
    margin-bottom: 61px;
  }

  .about__left {
    width: 100%;
    height: 640px;
    margin-bottom: 32px;
    background-size: cover;
  }

  .about__subcat {
    width: 100%;
    height: 173px;
  }

  .about__more-img-btm {
    margin-right: 62px;
  }

  .about__more {
    width: 924px;
    height: 295px;
    padding-bottom: 0;
    padding-left: 78px;
  }

  .about__more:first-child {
    margin-bottom: 32px;
  }

  .about__more-inner .about__descr {
    font-size: 16px;
    line-height: 32px;
  }

  .about__more .about__subject {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 9px;
  }

  .steps {
    margin-bottom: 55px;
  }

  .steps .steps__item:nth-child(1) {
    margin-right: 86px;
    padding-left: 2px;
  }

  .how {
    margin-bottom: 23px;
  }

  .how__text {
    width: 47.29%;
    margin-bottom: 57px;
  }

  .how__text .subject {
    margin-left: 0;
    margin-bottom: 9px;
  }

  .how__paragraph {
    margin-bottom: 25px;
  }

  .more__btn {
    margin-right: 24px;
  }

  .how__more-link {
    margin-right: 34px;
  }

  .how__img {
    background: url('../images/jpg/Rectangle\ 18\ 2v.jpg') right no-repeat;
    width: 47.29%;
    height: 689px;
    margin-top: 9px;
  }

  .questions {
    margin-bottom: 82px;
  }

  .accordion {
    margin: 0;
  }

  .title-questions {
    margin-bottom: 40px;
  }

  .accordion__subtitle-inner {
    font-size: 20px;
    width: 750px;
  }

  .accordion__subtitle:nth-child(1) {
    padding-top: 34px;
  }

  .accordion__subtitle:nth-child(2) {
    padding-top: 33px;
  }

  .accordion__subtitle:nth-child(3) {
    padding-top: 42px;
  }

  .accordion__subtitle:nth-child(4) {
    padding-top: 29px;
  }

  .accordion__subtitle:nth-child(5) {
    padding-top: 48px;
  }

  .footer__title {
    padding-left: 14px;
  }

  .footer__form-info {
    width: 536px;
  }

  .footer__form-message {
    width: 536px;
  }

  .footer__form {
    padding-left: 18px;
  }

  .footer__nav {
    width: 30.95%;
  }

  .footer__application {
    margin-right: 15px;
    width: 541px;
  }

  .footer__blog-consent {
    display: flex;
    justify-content: center;
    width: 541px;
  }

  .footer__send-btn {
    padding: 19px 38px;
  }

  .footer__contacts {
    margin-bottom: 43px;
  }

}

@media (max-width : 1023px) {

  .container {
    margin: 0 auto;
    width: 668px;
  }

  .container-header {
    height: 69px;
    max-width: 668px;
  }

  .container-hero {
    padding-left: 40px;
    padding-top: 160px;
    max-width: 768px;
    height: 662px;
    background-size: cover;
  }

  .burger {
    margin-top: 22px;
  }

  .header__img {
    width: 150px;
    height: 48px;
  }

  .header__logo-wrap {
    padding: 11px 0;
  }

  .hero {
    margin-bottom: 38px;
  }

  .hero__title .hero__link {
    font-size: 50px;
    line-height: 61px;
    margin-bottom: 10px;
  }

  .hero__text .hero__descr {
    width: 588px;
  }

  .hero__text {
    width: 588px;
  }

  .about__text-top {
    margin-bottom: 53px;
  }

  .about__left {
    width: 668px;
    height: 649px;
    margin-bottom: 32px;
  }

  .about__subcat {
    padding: 0 40px;
    width: 100%;
  }

  .about__text {
    width: 401px;
  }

  .about__btn {
    right: 30px;
    bottom: 56px;
    height: 59px;
  }

  .about__more {
    width: 668px;
    height: 238px;
    padding-top: 35px;
    padding-left: 40px;
    padding-right: 44px;
    padding-bottom: 35px;
  }

  .about__more:first-child {
    margin-bottom: 30px;
  }

  .about__more-img-btm {
    width: 114px;
    margin-right: 15px;
  }

  .about__more-img-top {
    width: 114px;
    margin-right: 15px;
  }

  .title-how {
    margin-bottom: 45px;
  }

  .steps {
    justify-content: space-between;
    margin-bottom: 42px;
  }

  .steps .steps__item:nth-child(1) {
    margin-right: 86px;
  }

  .how {
    margin-bottom: 50px;
  }

  .how__content {
    display: flex;
    flex-direction: column-reverse;
  }

  .how__text {
    width: 100%;
    margin-bottom: 0;
  }

  .how__text .subject {
    margin-bottom: 10px;
  }

  .how__img {
    width: 668px;
    height: 286px;
    margin-bottom: 38px;
    background-size: cover;
  }

  .subject {
    margin-bottom: 7px;
  }

  .how__paragraph {
    margin-bottom: 25px;
  }

  .more__btn {
    margin-right: 24px;
    margin-bottom: 58px;
  }

  .questions {
    margin-bottom: 110px;
  }

  .title-questions {
    margin-bottom: 31px;
    font-size: 48px;
    line-height: 59px;
  }

  .accordion__subtitle:nth-child(1) {
    padding-top: 38px;
    padding-bottom: 20px;
  }

  .accordion__subtitle:nth-child(3) {
    padding-top: 34px;
    padding-bottom: 27px;
  }

  .accordion__subtitle:nth-child(4) {
    padding-bottom: 31px;
  }

  .accordion__subtitle:nth-child(5) {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .container-footer {
    display: flex;
    flex-direction: column-reverse;
  }

  .footer__nav {
    margin: 0;
    width: 224px;
  }

  .footer__list {
    display: none;
  }

  .footer__application {
    margin: 0;
    width: 570px;
  }

  .footer__form {
    margin: 0;
    padding: 0;
  }

  .footer__title {
    margin: 0;
    padding-left: 3px;
  }

  .footer__form-message {
    width: 534px;
  }

  .footer__img-wrap {
    padding-top: 50px;
  }

  .footer__logo {
    margin: 0;
    display: block;
    height: 72px;
    width: 224px;
    background-size: contain;
  }

  .footer__contacts {
    margin: 0;
    margin-bottom: 42px;
  }

  .footer__form-info {
    width: 543px;
  }

  .footer__form-message {
    width: 543px;
  }

  .footer__blog-consent {
    padding: 0;
  }
}

@media (max-width : 767px) {
  .container {
    width: 290px;
    margin: 0 auto;
  }

  .header {
    margin-bottom: 29px;
  }

  .container-header {
    height: 69px;
  }

  .header__logo {
    width: 110px;
    height: 35px;
  }

  .header__img {
    width: 110px;
    height: 35px;
  }

  .header__logo-wrap {
    padding: 17px 0;
  }

  .burger__line {
    width: 25px;
    height: 3px;
  }

  .burger__line:before {
    width: 25px;
    height: 3px;
    top: 8px;
  }

  .burger__line:after {
    width: 25px;
    height: 3px;
    top: -8px;
  }

  .container-hero {
    padding-left: 22px;
    padding-top: 60px;
    margin-bottom: 39px;
    width: 290px;
    height: 308px;
  }

  .hero {
    margin-bottom: 61px;
  }

  .hero__content {
    height: 116px;
  }

  .hero__title .hero__link {
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
  }

  .hero__text {
    width: 270px;
    text-align: center;
    margin: 0;
  }

  .hero__text .hero__descr {
    width: 247px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 32px;
  }

  .hero__descr {
    width: 247px;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
  }

  .hero__btn {
    margin: 0;
    padding: 13px 28px;
    font-size: 12px;
    line-height: 15px;
    margin-left: 38px;
    border-radius: 8px;
  }

  .title {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    margin-left: 0;
  }

  .about {
    margin-bottom: 57px;
  }

  .about__text-top {
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 2px;
  }

  .about__left {
    width: 290px;
    height: 200px;
    margin-top: 12px;
    position: relative;
  }

  .about__subcat {
    border-radius: 16px;
    background: none;
  }

  .about__bottom {
    padding: 0;
  }

  .about__text {
    width: 291px;
    position: absolute;
    padding: 0;
    bottom: -148px;
    left: -5px;
    z-index: 1;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
    color: var(--black);
  }

  .about__btn-link {
    position: absolute;
    bottom: -199px;
    left: -5px;
    z-index: 1;
    padding: 9px 41px;
    border-radius: 8px;
    color: var(--default);
    font-size: 12px;
    line-height: 15px;
  }

  .about__btn-link:hover {
    color: var(--white);
  }

  .about__more {
    display: flex;
    border: none;
    width: 290px;
    height: auto;
    padding: 0;
    gap: 30px;
  }

  .about__more-inner {
    display: flex;
    flex-direction: column;
    width: 290px;
    margin: 0;
  }

  .about__more-inner .about__descr {
    padding-left: 0;
    line-height: 28px;
    font-size: 14px;
  }


  .about__more .about__subject {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 8px;
  }

  .about__more-img-top {
    width: 64px;
    margin: 0;
    margin-bottom: 4px;
  }

  .about__more-img-btm {
    width: 64px;
    margin: 0;
    margin-bottom: 6px;
  }


  .about__right {
    margin-top: 200px;
  }

  .steps {
    margin-bottom: 5px;
  }

  .title-how {
    margin-bottom: 20px;
  }

  .steps__btn {
    width: 41px;
    height: 17px;
    font-size: 14px;
    line-height: 17px;
  }

  .steps .steps__item:nth-child(1) {
    margin-right: 37px;
    padding: 0;
  }

  .steps .steps__item:nth-child(2) {
    margin-right: 44px;
    padding: 0;
  }

  .steps .steps__item:nth-child(3) {
    margin-right: 44px;
    padding: 0;
  }

  .how {
    margin-bottom: 24px;
  }

  .how__text {
    margin-bottom: 41px;
  }

  .how__img {
    margin-top: 8px;
    margin-bottom: 16px;
    width: 290px;
    height: 160px;
    background-size: cover;
    background: url('../images/png/Rectangle\ 18\ 3v.png');
  }

  .how__content {
    padding: 0;
  }

  .how__text .subject {
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 9px;
  }

  .how__paragraph {
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 24px;
  }

  .how__more-link {
    padding: 10px 43px;
    border-radius: 9px;
    font-size: 12px;
    line-height: 15px;
    margin-right: 12px;
  }

  .how__contract-link {
    padding: 10px 31px;
    border-radius: 9px;
    font-size: 12px;
    line-height: 15px;
  }

  .more__btn {
    width: 162px;
    height: 40px;
    font-size: 12px;
    line-height: 15px;
    margin: 0;
    margin-right: 5px;
  }

  .questions {
    margin-bottom: 60px;
  }

  .title-questions {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 12px;
  }

  .accordion__subtitle-inner {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    padding-left: 0;
    width: 243px;
  }


  .accordion__subtitle:nth-child(1) {
    padding-top: 32px;
    padding-bottom: 27px;
  }

  .accordion__subtitle:nth-child(2) {
    padding-top: 32px;
    padding-bottom: 27px;
  }

  .accordion__subtitle:nth-child(3) {
    padding-top: 32px;
    padding-bottom: 27px;
  }

  .accordion__subtitle:nth-child(4) {
    padding-top: 32px;
    padding-bottom: 27px;
  }

  .accordion__subtitle:nth-child(5) {
    padding-top: 32px;
    padding-bottom: 27px;
  }

  .accordion__icon {
    width: 29px;
  }


  .accordion__block {
    padding-bottom: 39px;
  }

  .footer {
    padding: 0;
  }

  .container-footer {
    padding: 0 15px;
    width: 320px;
  }

  .footer__nav {
    margin: 0;
  }

  .footer__application {
    width: 290px;
  }

  .footer__title {
    margin: 0;
    padding: 0;
    padding-top: 34px;
    padding-bottom: 21px;
    font-size: 24px;
    line-height: 29px;
  }

  .footer__form {
    margin-left: 0;
    font-weight: normal;
    font-size: 14px;
    line-height: 32px;
  }

  .footer__form-info {
    width: 290px;
    padding-left: 20px;
  }

  .footer__form-message {
    width: 290px;
    padding-left: 20px;
    margin-bottom: 11px;
  }

  .footer__send-btn {
    padding: 0;
    width: 180px;
    height: 40px;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    border-radius: 9px;
  }

  .footer__blog-consent {
    display: flex;
    justify-content: center;
    width: 290px;
    padding: 0;
    margin-bottom: 14px;
  }

  .footer__img {
    margin: 0;
    width: 131px;
    height: 42px;
  }

  .footer__img-wrap {
    padding: 0;
    padding-top: 18px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    width: 290px;
    border-top: 1px solid var(--silver-3);

  }

  .footer__application {
    margin-right: 0;
  }

  .footer__contacts {
    margin: 0;
    padding-left: 96px;
    margin-bottom: 16px;
  }

  .footer__logo {
    margin: 0;
    height: 42px;
    width: 131px;
  }

  .footer__contacts .footer__contacts-item:not(:last-child) {
    margin-right: 15px;
  }

  .footer__social-icon {
    width: 40px;

  }

}

*/
