@media (max-width : 1440px) {

  .header__list {
    padding-right: 70px;
    gap: 28px;
  }

  .container-hero {
    padding-left: 77px;
    padding-right: 40px;
    padding-top: 160px;
    height: 668px;
  }

  .hero__title .hero__link {
    margin-bottom: 16px;
    font-size: 60px;
    line-height: 73px;
  }

  .hero__text .hero__descr {
    margin-bottom: 60px;
    width: 660px;
    font-size: 20px;
    line-height: 24px;
  }

  .about__more-img-btm {
    margin-right: 25px;
  }

  .about__more-img-top {
    margin-right: 25px;
  }

  .about__more {
    padding-left: 30px;
    padding-right: 30px;
  }

  .about__subject {
    font-size: 2vw
  }

  .about__subcat {
    padding: 50px 10px;
  }

  .about__text {
    font-size: 1vw;
  }

  .about__more-img-top {
    width: 100px;
  }

  .about__more-img-btm {
    width: 100px;
  }

  .about__more-inner .about__descr {
    line-height: 22px;
    font-size: 1vw
  }

  .how__text {
    margin-right: 15px;
  }

  .footer__info {
    display: none;
  }

  .footer__nav {
    margin: 0;
    width: 45%;
  }

  .footer__application {
    margin: 0;
    width: 541px;
  }

  .footer__form-info {
    width: 100%;
  }

  .footer__form-message {
    width: 100%;
  }
}

@media (max-width : 1024px) {
  .container {
    padding: 0 50px;
  }

  .header__nav {
    display: none;
  }

  .header__logo-wrap {
    padding: 26px 0;
  }

  .header__logo {
    height: 48px;
  }

  .header__img {
    width: 150px;
    height: 48px;
  }

  .burger {
    display: block;
  }

  .header {
    margin-bottom: 39px;
  }

  .hero {
    margin-bottom: 37px;
  }

  .hero__text {
    width: 100%;
  }

  .hero__text .hero__descr {
    width: 100%;
    max-width: 660px;
  }

  .about {
    margin-bottom: 81px;
  }

  .about__text-top {
    margin-bottom: 59px;
  }

  .about__bottom {
    flex-wrap: wrap;
  }

  .about__wrapper {
    margin: 0;
    margin-bottom: 32px;
    width: 924px;
    height: 640px;
  }

  .about__wrap {
    max-width: 455px;
  }

  .about__subcat {
    padding: 50px 45px;
    height: 195px;
  }

  .about__text {
    font-size: 16px;
  }

  .about-img {
    width: 100%;
    height: 100%;
    background-size: cover;
  }

  .about__subject {
    margin-bottom: 16px;
    line-height: 20px;
  }

  .about__more {
    padding: 0;
    align-items: start;
    padding-bottom: 10px;
    padding-right: 8px;
    padding-left: 77px;
    padding-top: 65px;
  }

  .about__more-inner .about__descr {
    line-height: 32px;
    font-size: 16px;
  }

  .about__right {
    width: 100%;
  }

  .about__subject {
    font-size: 24px;
  }

  .about__more-img-btm {
    margin-right: 42px;
    width: 190px;
  }

  .about__more-img-top {
    margin-right: 42px;
    width: 190px;
  }

  .how {
    margin-bottom: 76px;
  }

  .how__text {
    width: 437px;
  }

  .how__img {
    background: url('../images/png/1024/Rectangle\ 18.png') right no-repeat;
    width: 437px;
    background-size: cover;
  }

  .title-questions {
    margin-bottom: 31px;
  }

  .accordion {
    margin-bottom: 80px;
  }

  .accordion__subtitle-inner {
    width: 748px;
    font-size: 20px;
  }

  .accordion__subtitle:nth-child(1) {
    padding-top: 39px;
    padding-bottom: 21px;
  }

  .accordion__subtitle:nth-child(2) {
    padding-top: 29px;
    padding-bottom: 30px;
  }

  .accordion__subtitle:nth-child(3) {
    padding-top: 42px;
  }

  .accordion__subtitle:nth-child(4) {
    padding-top: 29px;
    padding-bottom: 26px;
  }

  .accordion__subtitle:nth-child(5) {
    padding-top: 39px;
    padding-bottom: 21px;
  }

  .footer__send-btn {
    padding: 0;
    width: 241px;
    height: 58px;
  }
}

@media (max-width : 768px) {
  .container-header {
    height: 69px;
  }

  .header__logo-wrap {
    padding: 11px 0;
  }

  .burger {
    margin-top: 23px;
  }

  .burger__line {
    width: 30px;
    height: 3px;
  }

  .burger__line:before {
    width: 30px;
    height: 3px;
    top: 8px;
  }

  .burger__line:after {
    width: 30px;
    height: 3px;
    top: -8px;
  }

  .container-hero {
    padding: 0;
    padding-left: 40px;
    padding-top: 160px;
    height: 662px;
  }

  .hero__title .hero__link {
    font-size: 50px;
    line-height: 61px;
  }

  .hero__text .hero__descr {
    max-width: 588px;
    font-size: 18px;
    line-height: 22px;
  }

  .about__text-top {
    margin-bottom: 54px;
  }

  .about__wrapper {
    height: 650px;
  }

  .about__more {
    padding-left: 40px;
    padding-top: 35px;
    height: 235px;
  }

  .about__right {
    height: 500px;
  }

  .about__more-img-btm {
    margin-right: 15px;
    width: 114px;
  }

  .about__more-img-top {
    margin-right: 15px;
    width: 114px;
  }

  .how__content {
    display: flex;
    flex-direction: column-reverse;
  }

  .how__img {
    background: url('../images/png/768/how-768-2.png') center no-repeat;
    margin: 0;
    width: 100%;
    max-width: 668px;
    height: 286px;
    margin-bottom: 38px;
    background-size: cover;
  }

  .steps {
    margin-bottom: 51px;
    justify-content: space-between;
  }

  .how__text {
    margin: 0;
    width: 100%;
  }

  .how__paragraph {
    margin-bottom: 24px;
  }

  .how__more-link {
    margin-right: 32px;
  }

  .how {
    margin-bottom: 20px;
  }

  .accordion {
    margin-bottom: 111px;
  }

  .accordion__subtitle:nth-child(3) {
    padding-top: 28px;
    padding-bottom: 29px;
  }

  .accordion__subtitle:nth-child(4) {
    padding-bottom: 30px;
  }


  .accordion__subtitle:nth-child(5) {
    padding-top: 30px;
    padding-bottom: 29px;
  }

  .container-footer {
    display: flex;
    flex-direction: column-reverse;
  }

  .footer__nav {
    margin: 0;
    width: 224px;
  }

  .footer__list {
    display: none;
  }

  .footer__application {
    margin: 0;
    width: 100%;
    max-width: 543px;
  }

  .footer__form {
    margin: 0;
    padding: 0;
  }

  .footer__title {
    margin: 0;
    padding-bottom: 24px;
  }

  .footer__form-message {
    margin-bottom: 23px;
    width: 534px;
  }

  .footer__img-wrap {
    padding-top: 50px;
  }

  .footer__logo {
    margin: 0;
    display: block;
    height: 72px;
    width: 224px;
    background-size: contain;
  }

  .footer__contacts {
    margin: 0;
    margin-bottom: 47px;
  }

  .footer__form-info {
    max-width: 543px;
    width: 100%;
  }

  .footer__form-message {
    max-width: 543px;
    width: 100%;
  }
}

@media (max-width : 576px) {
  .container-hero {
    padding-left: 22px;
    padding-top: 60px;
    padding-right: 60px;
    height: 500px;
  }

  .hero__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero__text {
    text-align: center;
  }

  .hero__text .hero__link {
    font-size: 34px;
    line-height: 45px;
  }

  .hero__text .hero__descr {
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
  }

  .about {
    margin-bottom: 0;
  }

  .about__wrapper {
    margin-bottom: 221px;
    height: 413px;
    max-width: 924px;
    width: 100%;
  }

  .about__text-top {
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 10px;
  }

  .about__left {
    position: relative;
  }

  .about__subcat {
    padding: 0;
    border-radius: 16px;
    background: none;
  }

  .about__bottom {
    padding: 0;
  }

  .about__text {
    width: 291px;
    position: absolute;
    padding: 0;
    bottom: -148px;
    left: -5px;
    z-index: 1;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
    color: var(--black);
  }

  .about__btn-link {
    position: absolute;
    bottom: -199px;
    left: -5px;
    z-index: 1;
    padding: 9px 41px;
    border-radius: 8px;
    color: var(--default);
    font-size: 12px;
    line-height: 15px;
  }

  .about__btn-link:hover {
    color: var(--white);
  }

  .about__more {
    display: flex;
    border: none;
    width: 100%;
    height: auto;
    padding: 0;
    gap: 30px;
    border-radius: 0;
  }

  .about__more-inner {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
  }

  .about__more-inner .about__descr {
    padding-left: 0;
    line-height: 28px;
    font-size: 14px;
  }

  .about__more .about__subject {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 8px;
  }

  .about__more-img-top {
    width: 64px;
    margin: 0;
    margin-bottom: 4px;
  }

  .about__more-img-btm {
    width: 64px;
    margin: 0;
    margin-bottom: 6px;
  }

  .title {
    font-size: 32px;
  }

  .steps .steps__item:nth-child(1) {
    margin-right: 5px;
  }

  .steps .steps__item:nth-child(2) {
    margin-right: 5px;
  }

  .steps .steps__item:nth-child(3) {
    margin-right: 5px;
  }

  .footer__title {
    font-weight: 400;
    font-size: 32px;
    line-height: 29px;
  }
}

@media (max-width : 480px) {
.container {
  padding: 0 15px;
}

  .container-hero {
    padding-left: 22px;
    padding-top: 60px;
    padding-right: 22px;
    height: 500px;
  }

  .hero__text .hero__link {
    font-size: 24px;
    line-height: 35px;
  }

  .hero__text .hero__descr {
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
  }

  .steps__btn {
    font-size: 15px;
  }

  .how__more-link {
    margin-right: 10px;
  }

  .how__list {
    display: flex;
    justify-content: space-between;
  }
}


/*
@media (max-width : 706px) {




  } */
